button{
    text-align: center;
    color: white;
    border-radius: 40px;
    border-color: black;
}

#nome{
    text-align: center;
}

*{
    background-color: black; 
    color: white;
    border-color: crimson;

}

.cor{
    background-color:blueviolet;
}

.audio{
 text-align: left;
 font-family: sans-serif;   
}

#aleatorio{
    text-align: left;
}

#play{
    text-align: center;
}

#pause{
    display: none;
}

.controle_audio{
 text-align: center;
}

h2{
    font-family: sans-serif;
}

p{
   color:rgb(162, 163, 163) ;
   
}

b{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; 
    color: white;
}