button{
    text-align: center;
    color: white;
    border-radius: 40px;
    border-color: black;
}

#nome{
    text-align: center;
    
}

*{
    background-color: black; 
    color: white;
    border-color: crimson;

}

.cor{
    background-color:blueviolet;
}

.audio{
 text-align: center;   
}