button{
    text-align: center;
    color: white;
    border-radius: 40px;
    border-color: black;
}

#nome{
    text-align: center;
    font-family: sans-serif;
    
}

*{
    background-color: black; 
    color: white;
    border-color: crimson;

}

.cor{
    background-color:blueviolet;
}

.audio{
 text-align: center;   
}

#aleatorio{
    text-align: left;
}

#play{
    text-align: center;
}

#pause{
    display: none;
}

.controle_audio{
 text-align: center;
}